[submodule "public/wp-content/themes/cbox-mla"]
	path = public/wp-content/themes/cbox-mla
	url = git@github.com:mlaa/cbox-mla.git
	branch = master
[submodule "public/wp-content/plugins/cbox-auth"]
	path = public/wp-content/plugins/cbox-auth
	url = git@github.com:mlaa/cbox-auth.git
	branch = master
[submodule "public/wp-content/plugins/mla-admin-bar"]
	path = public/wp-content/plugins/mla-admin-bar
	url = git@github.com:mlaa/mla-admin-bar.git
	branch = master
[submodule "public/wp-content/themes/cbox-mla-blog"]
	path = public/wp-content/themes/cbox-mla-blog
	url = git@github.com:mlaa/cbox-mla-blog.git
	branch = master
[submodule "public/wp-content/plugins/cac-advanced-profiles"]
	path = public/wp-content/plugins/cac-advanced-profiles
	url = git@github.com:mlaa/cac-advanced-profiles.git
	branch = master
[submodule "public/wp-content/plugins/buddypress-docs"]
	path = public/wp-content/plugins/buddypress-docs
	url = git@github.com:mlaa/buddypress-docs.git
	branch = master
[submodule "public/wp-content/plugins/humcore"]
	path = public/wp-content/plugins/humcore
	url = https://github.com/mlaa/humcore
	branch = master
