# Application
web/app/blogs.dir
web/app/plugins
web/app/themes
web/app/upgrade
web/app/uploads
web/app/debug.log
web/app/cache

# WordPress
web/wp

# Dotenv
.env

# Vendor (e.g. Composer)
vendor/*

# Node Package Manager
node_modules
npm-debug.log

# WP-CLI
wp-cli.local.yml

# codecept tests
tests/_output/
tests/_support/_generated/
wp-cli.phar
