# Application
web/app/blogs.dir/*
web/app/plugins/*
web/app/themes/*
web/app/upgrade/*
web/app/uploads/*

# WordPress
web/wp

# Dotenv
.env

# Vendor (e.g. Composer)
vendor/*

# Node Package Manager
node_modules

# WP-CLI
wp-cli.local.yml
