<?php
/**
 * The base configurations of the WordPress.
 *
 * This file has the following configurations: MySQL settings, Table Prefix,
 * Secret Keys, WordPress Language, and ABSPATH. You can find more information
 * by visiting {@link http://codex.wordpress.org/Editing_wp-config.php Editing
 * wp-config.php} Codex page. You can get the MySQL settings from your web host.
 *
 * This file is used by the wp-config.php creation script during the
 * installation. You don't have to use the web site, you can just copy this file
 * to "wp-config.php" and fill in the values.
 *
 * @package WordPress
 */

// ** MySQL settings - You can get this info from your web host ** //
/** The name of the database for WordPress */
define('DB_NAME', '{{ mysql_app_database | default('app') }}');

/** MySQL database username */
define('DB_USER', '{{ mysql_app_user | default('root') }}');

/** MySQL database password */
define('DB_PASSWORD', '{{ mysql_app_password | default('password') }}');

/** MySQL hostname */
define('DB_HOST', '{{ mysql_bind_ip_address | default('127.0.0.1') }}');

/** Database Charset to use in creating database tables. */
define('DB_CHARSET', 'utf8');

/** The Database Collate type. Don't change this if in doubt. */
define('DB_COLLATE', '');

/**#@+
 * Authentication Unique Keys and Salts.
 *
 * Change these to different unique phrases!
 * You can generate these using the {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}
 * You can change these at any point in time to invalidate all existing cookies. This will force all users to have to log in again.
 *
 * @since 2.6.0
 */
{{ wordpress_salts.stdout }}

/**#@-*/

/**
 * WordPress Database Table prefix.
 *
 * You can have multiple installations in one database if you give each a unique
 * prefix. Only numbers, letters, and underscores please!
 */
$table_prefix  = 'wp_';

/**
 * WordPress Localized Language, defaults to English.
 *
 * Change this to localize WordPress. A corresponding MO file for the chosen
 * language must be installed to wp-content/languages. For example, install
 * de_DE.mo to wp-content/languages and set WPLANG to 'de_DE' to enable German
 * language support.
 */
define('WPLANG', 'en_US');

/**
 * For developers: WordPress debugging mode.
 *
 * Change this to true to enable the display of notices during development.
 * It is strongly recommended that plugin and theme developers use WP_DEBUG
 * in their development environments.
 */
define('WP_DEBUG', {{ wordpress_enable_debug | default('false') }});
define('WP_DEBUG_LOG', {{ wordpress_enable_debug | default('false') }});
define('WP_DEBUG_DISPLAY', false);

/** WP Super Cache **/
define('WP_CACHE', true);
define('WPCACHEHOME', dirname(__FILE__) . '/public/wp-content/plugins/wp-super-cache/');

/** Akismet **/
define('WPCOM_API_KEY','{{ wordpress_akismet_key | default('') }}');

/** CBOX authentication **/
define('CBOX_AUTH_SECRET_TOKEN', '{{ wordpress_secret_token_1 | default('') }}');
define('CBOX_AUTH_GROUPS_SECRET_TOKEN', '{{ wordpress_secret_token_2 | default('') }}');

/** CBOX authentication debugging **/
define('CBOX_AUTH_DEBUG', false);
define('CBOX_AUTH_DEBUG_LOG', '{{ admin_home_directory }}/log/cbox_auth_%t.log');

/** CHANGE: Enforce SSL login and admin. **/
define('FORCE_SSL_ADMIN', false);

/** CHANGE: Override CBOX plugin management. Enable only when needed. **/
define('CBOX_OVERRIDE_PLUGINS', false);

/** CHANGE: Allow autoupdating using file system permissions. **/
define('FS_METHOD', 'direct');

/** CHANGE: Multisite configuration as dictated by WordPress. **/
define('WP_ALLOW_MULTISITE', 'true');
define('MULTISITE', true);
define('SUBDOMAIN_INSTALL', true);
$base = '/';
define('DOMAIN_CURRENT_SITE', '{{ wordpress_hostname }}');
define('PATH_CURRENT_SITE', '/');
define('SITE_ID_CURRENT_SITE', 1);
define('BLOG_ID_CURRENT_SITE', 1);

/** CHANGE: Redirect nonexistent blogs to network home. **/
define('NOBLOGREDIRECT', 'http://{{ wordpress_hostname }}');

/** CHANGE: Disable outgoing mail. Comment out to enable. **/
function wp_mail(){}


/* That's all, stop editing! Happy blogging. */

/** Absolute path to the WordPress directory. */
if ( !defined('ABSPATH') )
	define('ABSPATH', dirname(__FILE__) . '/');

/** Sets up WordPress vars and included files. */
require_once(ABSPATH . 'wp-settings.php');
